textarea{
  resize: none;
}

iframe{
  border: none;
}

.main-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 800px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  background-color: #ffffff;
}

.header{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: 2px solid #007ea7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h2{
  font-weight: bold;
}

.header nav li{
  display: flex;
  justify-self: center;
}

.button-coding-view{
  border: 1px solid #007ea7;
  background-color: #ffffff;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-coding-view:not(:last-child){
  border-right: none;
}

/* .button-highlight-effect{
  background-color: #007ea7;
  color: #ffffff;
} */

.button-active{
  background-color: #007ea7;
  color: #ffffff;
}

.coding-space{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}

.panel{
  background-color: lightgray;
  height: 100%;
  width: 24.7%;
  border: none;
}

.hidden{
  display: none;
}

#logo-style-start{
  color: #007ea7;
}

#logo-style-end{
  color: black;
}

#selectable-views .ui-selecting{
  background: #76cae6;
}

#selectable-views .ui-selected{
  background: #007ea7;
  color: #ffffff;
}